########################################################################
# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │   ┌───────────── day of month (1 - 31)
# │ │   │   ┌───────────── month (1 - 12)
# │ │   │   │   ┌───────────── day of week (0 - 6) (Sunday=0 or 7)
# │ │   │   │   │
# │ │   │   │   │
# * *   *   *   *  command to execute
########################################################################
*/5 *   *   *   * cd /workspace && docker compose up -d temp-job
0   3   7   *   * cd /workspace && docker compose up -d code-point-import
0   4   7   *   * cd /workspace && docker compose up -d company-data-import

########################################################################
